@import url("base.css");

nav {
    height: 80px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%
}

nav .logo img {
    width: 40%;
}

nav .humbergar .bar {
    display: block;
    width: 20px;
    height: 3px;
    margin: 5px;
    background-color: black;
}